body {
    background-color: #888;
}

#image-container {
    overflow: hidden;
    position: absolute;
    inset: 0;
    display: flex;
}

#image-container.scroll {
    overflow: auto;
}

#image-container * {
    margin: auto;
}