body {
    background-color: #888;
}

#image-container {
    overflow: hidden;
    position: absolute;
    inset: 0;
}

#image-container.scroll {
    overflow: scroll;
}

#image-container * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}