.titlebar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Hide the titlebar in fullscreen mode. */
body.fullscreen .titlebar {
    display: none;
}

/* As the titlebar is now hidden, the content can take up the whole space. */
body.fullscreen .container-after-titlebar {
    top: 0;
}